<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forme.blog.mapper.CommentToBlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.forme.blog.model.entity.CommentToBlog">
        <id column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="blog_id" property="blogId" jdbcType="INTEGER"/>
    </resultMap>
    <!--comment表的查询映射结果-->
    <resultMap id="CommentResultMap" type="com.forme.blog.model.entity.Comment">
        <id column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="comment_user" property="commentUser" jdbcType="VARCHAR"/>
        <result column="comment_parent_id" property="commentParentId" jdbcType="INTEGER"/>
        <result column="comment_email" property="commentEmail" jdbcType="VARCHAR"/>
        <result column="comment_root_id" property="commentRootId" jdbcType="INTEGER"/>
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR"/>
        <result column="comment_date" property="commentDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, blog_id
    </sql>
    <!--comment表的查询结果列-->
    <sql id="Comment_Column_List">
        comment_id, comment_user, comment_parent_id, comment_email, comment_root_id, comment_content, comment_date
    </sql>
    <!--根据博客号查询该博客的所有根评论-->
    <select id="selectByBlogId" parameterType="java.lang.Integer" resultMap="CommentResultMap">
        select c1.comment_id,c1.comment_user,c1.comment_parent_id,c1.comment_email,c1.comment_root_id,c1.comment_content,c1.comment_date
        from comment  c1
        inner join comment_to_blog c2
        on c1.comment_id=c2.comment_id
        where c2.blog_id=#{blogId,jdbcType=INTEGER} and c1.comment_root_id is null
    </select>
    <!--根据博客号查询该博客的根评论下的所有子评论-->
    <select id="selectByBlogIdAndRootCommentId" parameterType="java.lang.Integer" resultMap="CommentResultMap">
        select c1.comment_id,c1.comment_user,c1.comment_parent_id,c1.comment_email,c1.comment_root_id,c1.comment_content,c1.comment_date
        from comment  c1
                 inner join comment_to_blog c2
                            on c1.comment_id=c2.comment_id
        where c2.blog_id=#{blogId,jdbcType=INTEGER} and c1.comment_root_id=#{rootCommentId,jdbcType=INTEGER}
    </select>

    <select id="selectByCommentId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include>
        from comment_to_blog
        where comment_id=#{commentId,jdbcType=INTEGER}
    </select>
    <!--在comment_to_blog 表中插入数据-->
    <insert id="insert" parameterType="com.forme.blog.model.entity.CommentToBlog">
        insert into comment_to_blog
        (<include refid="Base_Column_List"></include>)
        values
        (#{commentId,jdbcType=INTEGER},#{blogId,jdbcType=INTEGER})
    </insert>
    <!--根据评论号删除comment_to_blog表中的数据-->
    <delete id="deleteByCommentId" parameterType="java.lang.Integer">
        delete from comment_to_blog
        where comment_id=#{commentId,jdbcType=INTEGER}
    </delete>
    <!--根据博客号删除comment_to_blog表中的数据-->
    <delete id="deleteByBlogId" parameterType="java.lang.Integer">
        delete from comment_to_blog
        where blog_id=#{blog_id,jdbcType=INTEGER}
    </delete>


</mapper>
